*

!.gitignore
!.zprofile
!.xinitrc
!.config/bash
!.config/dunst
!.config/feh
!.config/fontconfig
!.config/htop
!.config/isync
!.config/latexmk
!.config/lf
!.config/mpd
!.config/mutt
!.config/ncmpcpp
!.config/newsboat
!.config/nvim
!.config/picom
!.config/pipewire
!.config/python
!.config/sxiv/exec
!.config/vim
!.config/zathura
!.config/zsh
!.config/mimeapps.list
!.config/xresources
!devel/scripts
