.android
.aspnet
.cache
.config/Android Open Source Project
.config/BraveSoftware
.config/GIMP
.config/GNS3
.config/Google
.config/Google
.config/QtProject.conf
.config/Signal
.config/VirtualBox
.config/artifacts.xml
.config/calcurse/keys
.config/cef_user_data
.config/configstore
.config/cura
.config/dconf
.config/eclipse
.config/filezilla
.config/git
.config/gnupg
.config/gtk-2.0/
.config/java
.config/jgit
.config/lesshst
.config/libreoffice
.config/mpd/mpd.db
.config/mpd/mpd.log
.config/msmtp
.config/mupen64plus
.config/ncmpcpp/error.log
.config/neofetch
.config/newsboat/urls
.config/notmuch
.config/npm
.config/nvim/plugged
.config/nvim/plugin
.config/PrusaSlicer
.config/p2
.config/pam-gnupg
.config/pki
.config/pulse
.config/retroarch
.config/rstudio
.config/soarqin
.config/solaar
.config/transmission
.config/transmission-daemon
.config/transmission-remote-cli
.config/vim/.netrwhist
.config/vim/plugged
.config/vim/plugged
.config/vim/undodir
.config/vim/viminfo
.config/zsh/.zcompdump
.cups
.dbus
.dotnet
.espressif
.gradle
.hplip
.java
.konan
.local
.lyrics
.m2
.minecraft
.mozilla
.nuget
.p2
.pki
.pulse
.scim
.ssh
.steam
.steampath
.steampid
.templateengine
devel
docs
down
games
music
pics
scratch
suckless
