*

!.gitignore
!.zprofile
!.xinitrc
!.config/bash/.bash_aliases
!.config/bash/.bashrc
!.config/dunst/dunstrc
!.config/feh/buttons
!.config/feh/keys
!.config/feh/themes
!.config/fontconfig/fonts.conf
!.config/htop/htoprc
!.config/isync/mbsyncrc
!.config/latexmk/latexmkrc
!.config/lf/cleaner
!.config/lf/lfrc
!.config/lf/lfub
!.config/lf/scope
!.config/mpd/mpd.conf
!.config/mutt/colors.muttrc
!.config/mutt/mailcap
!.config/mutt/muttrc
!.config/mutt/neomuttrc
!.config/ncmpcpp/config
!.config/ncmpcpp/bindings
!.config/neofetch/config.conf
!.config/newsboat/config
!.config/nvim/**
!.config/picom/picom.conf
!.config/pipewire/pipewire.conf
!.config/python/startup.py
!.config/transmission-daemon/setting.json
!.config/vim/vimrc
!.config/zathura/zathurarc
!.config/zsh/aliases
!.config/zsh/.zshrc
!.config/mimeapps.list
!.config/xresources
!devel/scripts/**
